$color-primary-light: #ff9100;
$color-primary-dark: #942700;

$color-secondary-light: #c03333;
$color-secondary-dark: #641a1a;

$color-tertiary-light: #91bfd1;
$color-tertiary-dark: #698996;

$color-fourthy-light: #9b94a7;
$color-fourthy-dark: #6d6875;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
