$color-primary: #ff9100;
$color-secondary: #942700;

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
